.container {
  margin-top: 10%;
}

#lists {
  margin-bottom: 20px;
}

ul li {
  margin-right: 20px;
}

#myImages {
  margin-top: 20px;
}

#myImages img {
  max-width: 300px;
  display: inline-block;
  margin-right: 50px;
}

.hide {
  display: none;
}

.testMe {
  background-color: yellow;
}

