<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-app/app.js"></script>
    <script src="angular-app/controllers/controllers.js"></script>
    <script src="angular-app/services/services.js"></script>
  </head>
  <body>
    <h1>Welcome to <%= title %> and <%= angTitle %></h1>
    <div ng-app="myApp">
    	<ui-view></ui-view>
    </div>
  </body>
</html>
