#box, #box2 {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  float: left;
  margin-left: 10px;
}
#ball, #ball2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 50px;
  left: 50px;
  transition: bottom 300ms, left 300ms;
}
