<form ng-submit="sbmForm()">
	<input type="text" name="some_name" ng-model="searchQ">
	<input type="submit" name="some_sbm" value="Go and Search!">
</form>
<div ng-repeat="user in people">
	<h3>{{ user.name }}</h3>
</div>